
.bg{
    background-color: rgb(4, 3, 24);
    color: white;
}
.navbar{
    background-color: rgb(4, 3, 24);
}
 .services .serv-content .card{
    background: #222;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
} 
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
     margin: 10px 0 7px 0; 
}


.skills .skills-content .column{
    width: calc(50% - 30px);
    
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
   
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 80%;
}
.skills-content .right .js::before{
    width: 60%;
}
.skills-content .right .php::before{
    width: 80%;
}
.box {
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}
.box::before
{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg,#00ccff,#d400d4);
transition: 0.5s;
animation: animate 4s linear infinite;
}
.box:hover::before {
    inset: -20px 0px;
}
@keyframes animate 
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box::after
{
    content:  '';
    position: absolute;
    inset: 6px;
    background: #162052;
border-radius: 50%;
z-index: 1;

}
.content {
  position: absolute;
  inset: 30px;
  border: 6px solid #070a1c;
  z-index: 3; 
  border-radius: 50%;
  overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.content img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   object-fit: cover; 
   transition: 0.5s;
   pointer-events: none;
   z-index: 3;
}
.box:hover .content img 
{
    opacity: 0;
}
.content h2{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.content h2 span {
    font-size: 300;
    font-size: 0.75em;
}
.content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover{
    letter-spacing: 0.2rem;
}